SUPABASE_PROJECT_ID="ymvgbvjxkllcfkaqlnvc"
SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inltdmdidmp4a2xsY2ZrYXFsbnZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2MjA2MjcsImV4cCI6MjA5NDE5NjYyN30.-_uh04BsBk7vn6s2eBLdq_vU51Wg_z2sHB4o52CK3mI"
SUPABASE_URL="https://ymvgbvjxkllcfkaqlnvc.supabase.co"
VITE_SUPABASE_PROJECT_ID="ymvgbvjxkllcfkaqlnvc"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inltdmdidmp4a2xsY2ZrYXFsbnZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2MjA2MjcsImV4cCI6MjA5NDE5NjYyN30.-_uh04BsBk7vn6s2eBLdq_vU51Wg_z2sHB4o52CK3mI"
VITE_SUPABASE_URL="https://ymvgbvjxkllcfkaqlnvc.supabase.co"
